extends layout

block content
  h1= title
  if user
    if user.displayName
      p #{user.displayName} さんこんにちは
    else
      p #{user.username}さんこんにちは
    h2 新規投稿
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 投稿
  else
    p ログインして投稿してみよう！
  h2 投稿一覧
  each post in posts
    - var isPostedByAdmin = (post.postedBy === admin)
    if isPostedByAdmin
      p 投稿者： 管理人　★
    else
      p 投稿者：#{post.username}さん
    p(style="white-space:pre;") #{post.content}
    p 投稿日時: #{post.createdAt}
    if user
      - var userId = user.provider + user.id;
      - var isDeletable = (userId === post.postedBy)
      if isDeletable
        form(method="post" action="/posts?delete=1")
          input(type="hidden" name="id" value=post.id)
          button(type="submit" onclick="return confirm(`投稿を削除します\nよろしいですね？`);") 削除
    hr