extends layout

block content
  h1= title
  if user
    if user.displayName
      p #{user.displayName} さんこんにちは
      img(src=`${user.photos[0].value}` width="50" height="50")
    else
      p #{user.username}さんこんにちは
      img(src=`${user.photos[0].value}` width="50" height="50")
    h2 新規投稿
    form(method="post" action="/posts")
      input(type="hidden" name="_csrf" value!=csrfToken)
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 投稿
  else
    p ログインして投稿してみよう！
  h2 投稿一覧
  div.container-fluid.content-row
    div.row
      each post in posts
        div.col-sm-12.col-lg-4.my-2
          div.card.h-100
            div.card-header
              - var isPostedByAdmin = (post.postedBy === admin)
              - var evaluations = sumPostEvMap.get(post.id) || 0;
              if isPostedByAdmin
                p 投稿者： 管理人　★
                img(src=`${post.user.thumbUrl}` width="50px")
                //p #{post.user.thumbUrl}
              else
                p 投稿者：#{post.user.username}さん
                img(src=`${post.user.thumbUrl}`)
                //p #{post.user.username}
            div.card-body
              p(style="white-space:pre-wrap;") #{post.content}
              p いいね総数 #{evaluations}
            div.card-footer
              p 投稿日時: #{post.formattedCreatedAt}
              if user
                - var userId = user.provider + user.id;
                - var e = SelfEvaMap.get(post.id);
                - var string = e ? 'true' : 'false'
                p #{e}
                button(
                  data-post-id=post.id
                  data-user-id=userId
                  data-user-evaluation=string) いいねボタン
                - var isDeletable = (userId === post.postedBy || userId === admin)
                if isDeletable
                  form(method="post" action="/posts?delete=1")
                    input(type="hidden" name="_csrf" value!=csrfToken)
                    input(type="hidden" name="id" value=post.id)
                    button(type="submit" onclick="return confirm(`投稿を削除します\nよろしいですね？`);") 削除